@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ctransition {
    @apply ease-in-out duration-200;
  }
}


/* DM SANS */

@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Light.woff') format('woff'),
         url('/assets/fonts/woff2/DMSans_Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Regular.woff') format('woff'),
         url('/assets/fonts/woff2/DMSans_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Medium.woff') format('woff'),
    url('/assets/fonts/woff2/DMSans_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Bold.woff') format('woff'),
    url('/assets/fonts/woff2/DMSans_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
